<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="px-20">

        <div class="max-w-full  rounded-xl	 overflow-hidden shadow-lg">

            <div class="container ">

                <div class="flex flex-col gap-1.5	mx-auto p-10 pt-15">

                    <h3 class="text-2xl font-bold">Olivia Wilson</h3>
                    <div class="font-bold text-sm	">

                        Address |Mail| Phone Number
                    </div>
                    <div class="text-1xl font-bold">

                        CHEMICAL ENGINEER
                    </div>
                    <div>

                        A practical Chemical Engineer with Significant Experience in Process Designs, I have worked with
                        some organizations, ensuring a grounded approach to my profession.
                    </div>
                </div>
                <div class="max-w-full text-l font-bold p-1 pl-10 mt-4 bg-gray-300		 ">
                    WORK EXPERIENCE
                </div>
                <div class="flex flex-col gap-1.5	mx-auto p-10 pt-7">
                    <div class="flex experiece-section">
                        <p class="grow font-bold">Policy Manager | Monster Inc</p>
                        <p class="none">Oct 2020-present</p>
                    </div>
                    <div>
                        <ol>
                            <li value="1"> Formulate and review policies as regards Industry Improvement</li>
                            <li>Create a functional and technical application of set policies</li>
                        </ol>


                    </div>
                    <div class="flex experiece-section">
                        <p class="grow font-bold">Policy daskjadsjfa | jsdjads Inc</p>
                        <p class="none">Oct 2010-Nov 2020</p>
                    </div>
                    <div>
                        <ol>
                            <li value="1"> Formulate and review policies as regards Industry Improvement</li>
                            <li>Create a functional and technical application of set policies</li>
                        </ol>


                    </div>
                </div>
                <div class="max-w-full text-l font-bold p-1 pl-10 mt-4 bg-gray-300">
                    SKILLS
                </div>
                <div class="skills mx-auto p-10 pt-10">
                    <ol>
                        <li>Efficiency Under Pressure</li>
                        <li>Talented Customer Services
                        </li>
                        <li>Critical Thinking</li>
                    </ol>
                </div>
                <div class="max-w-full text-l font-bold p-1 pl-10 mt-4 bg-gray-300		 ">
                    EDUCATION
                </div>
                <div class="flex flex-col gap-1.5	mx-auto p-10 pt-7">
                    <div class="flex experiece-section">
                        <p class="grow font-bold">Policy Manager | Monster Inc</p>
                        <p class="none">Oct 2020-present</p>
                    </div>
                    <div>
                        <ol>
                            <li value="1"> Formulate and review policies as regards Industry Improvement</li>
                            <li>Create a functional and technical application of set policies</li>
                        </ol>


                    </div>
                    <div class="flex experiece-section">
                        <p class="grow font-bold">Policy daskjadsjfa | jsdjads Inc</p>
                        <p class="none">Oct 2010-Nov 2020</p>
                    </div>
                    <div>
                        <ol>
                            <li value="1"> Formulate and review policies as regards Industry Improvement</li>
                            <li>Create a functional and technical application of set policies</li>
                        </ol>


                    </div>
                </div>
                <div class="max-w-full text-l font-bold p-1 pl-10 mt-4 bg-gray-300">
                    INTERESTS
                </div>
                <div class="skills mx-auto p-10 pt-10">
                    <ol>
                        <li>Efficiency Under Pressure</li>
                        <li>Talented Customer Services
                        </li>
                        <li>Critical Thinking</li>
                    </ol>
                </div>
                <div class="max-w-full text-l font-bold p-1 pl-10 mt-4 bg-gray-300		 ">
                    CERTIFICATIONS
                </div>
                <div class="flex flex-col gap-1.5	mx-auto p-10 pt-7">
                    <div class="flex experiece-section">
                        <p class="grow font-bold">Policy Manager | Monster Inc</p>
                        <p class="none">Oct 2020-present</p>
                    </div>
                    <div>
                        <ol>
                            <li value="1"> Formulate and review policies as regards Industry Improvement</li>
                            <li>Create a functional and technical application of set policies</li>
                        </ol>


                    </div>
                    <div class="flex experiece-section">
                        <p class="grow font-bold">Policy daskjadsjfa | jsdjads Inc</p>
                        <p class="none">Oct 2010-Nov 2020</p>
                    </div>
                    <div>
                        <ol>
                            <li value="1"> Formulate and review policies as regards Industry Improvement</li>
                            <li>Create a functional and technical application of set policies</li>
                        </ol>


                    </div>
                </div>
                <div class="max-w-full text-l font-bold p-1 pl-10 mt-4 bg-gray-300">
                    LANGUAGES
                </div>
                <div class="skills mx-auto p-10 pt-10">
                    <ol>
                        <li>Efficiency Under Pressure</li>
                        <li>Talented Customer Services
                        </li>
                        <li>Critical Thinking</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


</body>

</html>