

    <button type="button" class="absolute" (click)="convertToImage()">PDF📄</button>
    <div >
        <div class="px-20" >
            <div id="pdf-content">

                <div class="pdf-container" >

                    <div >

                        <section  class="about-section">
                            <div>

                                <h3 >
                                    {{resumeSummary.contactInfo[0]?.fields[0].value}}
                                </h3>
                                <div >
                                    {{resumeSummary.contactInfo[0]?.fields[1].value}} |
                                    {{resumeSummary.contactInfo[0]?.fields[2].value}} |
                                    {{resumeSummary.contactInfo[0]?.fields[3].value}}

                                </div>
                            </div>
                            <div class="summary ">

                                {{resumeSummary.summary[0].answer}}
                            </div>

                        </section>
                        <section class="experiece-section" *ngIf="!resumeSummary.Experience[0].skipped">

                            <div class="bg-div">
                                <span>WORK EXPERIENCE</span>
                            </div>

                            <div >

                                <div  *ngFor="let exp of resumeSummary.Experience ">
                                    <ng-container *ngIf="!exp.skipped">
                                        <div class="info-date-container">
                                            <p class="info-heading">{{exp.fields[0].value}} | {{exp.fields[1].value}} </p>
                                            <p >{{exp.fields[2].value | date:'longDate'}} - {{exp.fields[3].value |
                                                date:'longDate' || ' present'}}</p>
                                        </div>

                                        <div class="info-response">
                                            <p >
                                                {{exp.answer}}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </section>
                        <section class="skills" *ngIf="!resumeSummary.skills[0].skipped">

                            <div  class="bg-div">
                                SKILLS
                            </div>
                            <div class="info-response">
                                <p>{{resumeSummary.skills[0].answer}}</p>
                            </div>
                        </section>
                        <section class="education" *ngIf="!resumeSummary.Education[0].skipped">

                            <div  class="bg-div">
                                EDUCATION
                            </div>
                            <div>

                                <div *ngFor="let exp of resumeSummary.Education ">
                                    <div  class="info-date-container">
                                        <p class="grow font-bold">{{exp.fields[0].value}} | {{exp.fields[1].value}} </p>
                                        <p class="none">{{exp.fields[2].value | date:'longDate'}} - {{exp.fields[3].value|
                                            date:'longDate' || ' present'}}</p>
                                    </div>

                                    <div class="info-response">
                                        <p>
                                            {{exp.answer}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="projects" *ngIf="!resumeSummary.Projects[0].skipped">

                            <div  class="bg-div" >
                                PROJECTS
                            </div>
                            <div >

                                <div *ngFor="let exp of resumeSummary.Projects ">
                                    <div class="info-date-container">
                                        <p class="grow font-bold">{{exp.fields[0].value}} </p>
                                        <p class="none">{{exp.fields[1].value | date:'longDate'}} - {{exp.fields[2].value|
                                            date:'longDate' || ' present'}}</p>
                                    </div>

                                    <div  class="info-response">
                                        <p>
                                            {{exp.answer}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="certifications" *ngIf="!resumeSummary.Certifications[0].skipped">

                            <div   class="bg-div">
                                CERTIFICATIONS
                            </div>
                            <div >

                                <div class="job" *ngFor="let exp of resumeSummary.Certifications ">
                                    <div class="info-date-container">
                                        <p class="grow font-bold">{{exp.fields[0].value}} </p>
                                        <p class="none">{{exp.fields[1].value | date:'longDate'}} - {{exp.fields[2].value|
                                            date:'longDate' || ' present'}}</p>
                                    </div>

                                    <div  class="info-response">
                                        <p>
                                            {{exp.answer}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="Languages" *ngIf="!resumeSummary.Languages[0].skipped">

                            <div  class="bg-div">
                                LANGUAGES
                            </div>
                            <div  class="info-response">
                                <p>{{resumeSummary.Hobbies[0].answer}}</p>

                            </div>
                        </section>
                        <section class="interests" *ngIf="!resumeSummary.Hobbies[0].skipped">

                            <div  class="bg-div">
                                INTERESTS
                            </div>
                            <div  class="info-response">
                                <p>{{resumeSummary.Languages[0].answer}}</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>



