.pdf-container{
    margin:2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2em;
    width: 1000px;
    aspect-ratio: 3/2;
}
section{
    margin-bottom: 1em;}
.summary{
    margin-top: 0.5em ;
}
.bg-div{
    background-color: rgb(187, 179, 179);
    // padding-top: 0.1em;
    // padding-bottom: 0.1em;
    font-weight: 550;
    line-height: 1.6rem;
    p{
        margin-left: 0.4rem;
        font-size: 0.9rem;
    }
}
.info-heading{
    font-weight: 550;
}
.info-date-container{
 display: flex;
 justify-content: space-between;
}

.info-response{
    margin-top: 2px;
    margin-bottom: 5px;
}

