<!-- <p>
  Hi, welcome to Chat Resume! Please enter your answers based on the questions the chat bot asks, At the end will will
  present you with a Resume PDF.
</p> -->
<!-- <app-component-theme></app-component-theme> -->
<!-- <a routerLink="/resume">Resume</a> -->
<ng-container *ngIf="showPDF">
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> Re Chat
      </div>
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </header>

    <main class="msger-chat">

      <div *ngFor="let answerId of answerCount">
        <ng-container *ngTemplateOutlet="messageTemplate; context: { messageText: answerId }"></ng-container>
      </div>

    </main>

    <p>Skip</p>
    <form class="msger-inputarea">
      <!-- {{questionsAndUsersResponse[countOfanswer].fields |json}} -->
      <!-- <div *ngFor="let eachField of questionsAndUsersResponse[countOfanswer].fields">
        <input [type]="eachField.type" name="eachField.key" [(ngModel)]="eachField.value" [ngModelOptions]="
        {standalone: true}">
      </div> -->
      <div class="start-end-dates">
        <div class="start-date-container" *ngFor="let eachField of questionsAndUsersResponse[countOfanswer].fields">
          <label for="ids">{{eachField.name}}</label>
          <input [type]="eachField.type" [name]="eachField.key" [(ngModel)]="eachField.value" [ngModelOptions]="
          {standalone: true}">
        </div>

      </div>
      <div class="text-area-submit">

        <textarea type="text" class="msger-input" #answer>

        </textarea>
        <button type="button" class="msger-send-btn" *ngIf="questionsAndUsersResponse[countOfanswer].fields"
          title="Continue to add more Experience"
          (click)="continueToAddMore(questionsAndUsersResponse[countOfanswer].fields,answer.value)"> ➕</button>
        <button type="button" class="msger-send-btn" title="Click send and jump to another section"
          (click)="sendResponse(answer.value)">Send</button>
      </div>
    </form>
  </section>
</ng-container>




<ng-template #messageTemplate let-messageText="messageText">
  <div class="msg left-msg">


    <div class="msg-bubble">


      <div class="msg-text">
        {{questionsAndUsersResponse[messageText].question}}
      </div>
    </div>
  </div>

  <div class="msg right-msg" *ngIf="questionsAndUsersResponse[messageText].answer">


    <div class="msg-bubble">


      <div class="msg-text">
        {{questionsAndUsersResponse[messageText].answer}}
      </div>
    </div>
  </div>
</ng-template>
<ng-container *ngIf="showPDF">
  <div class="resume">
    <header class="header">
      <h1>{{groupedObjects.contactInfo[0]?.answer[0]}}</h1>
      <ul class="contact-info">
        <li>Phone:{{groupedObjects.contactInfo[0].answer[1] }}</li>
        <li>Email: {{groupedObjects?.contactInfo[0]?.answer[2]}}</li>
        <li>Location: {{groupedObjects?.contactInfo[0]?.answer[3]}}</li>
      </ul>
    </header>

    <section class="summary">
      <h2>Summary</h2>
      <p>
        {{groupedObjects.summary[0].answer}}
      </p>
    </section>

    <section class="skills">
      <h2>Skills</h2>
      <ul>
        <li *ngFor="let skill of groupedObjects.skills[0].answer">{{skill}}</li>

      </ul>
    </section>

    <section class="experience">
      <h2>Experience</h2>
      <div class="job" *ngFor="let exp of groupedObjects.Experience ">
        <h3>{{exp.fields[0].value}}</h3>
        <p>{{exp.fields[1].value}} | {{exp.fields[2].value}} - {{exp.fields[3].value}}</p>
        <div>
          <p>
            {{exp.answer}}
          </p>
        </div>
        <!-- <ul>
          <li>Developed and maintained web applications using Angular.</li>
          <li>Implemented Java backend services for data processing.</li>
          <li>Managed and optimized SQL databases for performance.</li>
        </ul> -->
      </div>
      <!-- Add more job entries as needed -->
    </section>

    <section class="education">
      <h2>Education</h2>
      <div class="degree" *ngFor="let exp of groupedObjects.Education ">
        <h3>{{exp.fields[0].value}}</h3>
        <p>{{exp.fields[1].value}} | {{exp.fields[2].value}} - {{exp.fields[3].value}}</p>
        <div>
          <p>
            {{exp.answer}}
          </p>
        </div>
      </div>
    </section>
    <section class="projects">
      <h2>Projects</h2>
      <div class="degree" *ngFor="let exp of groupedObjects.Projects ">
        <h3>{{exp.fields[0].value}}</h3>
        <p> {{exp.fields[1].value}} - {{exp.fields[2].value}}</p>
        <div>
          <p>
            {{exp.answer}}
          </p>
        </div>
      </div>
    </section>
    <section class="certifications">
      <h2>Certifications</h2>
      <div class="degree" *ngFor="let exp of groupedObjects.Certifications ">
        <h3>{{exp.fields[0].value}}</h3>
        <p> {{exp.fields[1].value}} - {{exp.fields[2].value}}</p>
        <div>
          <p>
            {{exp.answer}}
          </p>
        </div>
      </div>
    </section>
    <section class="hobbies" *ngIf="groupedObjects.Languages?.length>0">
      <h2>Hobbies</h2>
      <ul>
        <li *ngFor="let skill of groupedObjects.Hobbies[0].answer">{{skill}}</li>

      </ul>
    </section>
    <section class="languages">
      <h2>Languages</h2>
      <ul>
        <li *ngFor="let skill of groupedObjects.Languages[0].answer">{{skill}}</li>

      </ul>
    </section>
    <!-- Add more sections for Projects, Certifications, Awards, etc. -->
  </div>
</ng-container>

<router-outlet></router-outlet>
<app-chat-component></app-chat-component>