<p>
  Hi, welcome to Chat Resume! Please enter your answers based on the questions the chat bot asks, At the end will will
  present you with a Resume PDF.
</p>
<ng-container>
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> Chat Resume
      </div>
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </header>

    <main class="msger-chat">

      <div *ngFor="let answerId of answerCount;let i = index">
        <ng-container *ngTemplateOutlet="messageTemplate; context: { messageText: answerId,index:i }"></ng-container>
      </div>

    </main>

    <!-- <p>Skip</p> -->
    <form>
      <section class="msger-inputarea">

        <button *ngIf="questionsAndUsersResponse[countOfanswer].type !='contactInfo'"
          class="skip-button"
          (click)="skipQuestion()">Skip</button>
        <div class="start-end-dates">
          <div class="start-date-container" *ngFor="let eachField of questionsAndUsersResponse[countOfanswer].fields">
            <label for="ids">{{eachField.name}}</label>
            <input [type]="eachField.type" [name]="eachField.key" [(ngModel)]="eachField.value" [ngModelOptions]="
              {standalone: true}">
          </div>

        </div>
        <div class="text-area-submit" *ngIf="questionsAndUsersResponse[countOfanswer].type !='contactInfo';else other">

          <textarea type="text" class="msger-input" #answer id="input-text"></textarea>
          <button type="submit" class="msger-send-btn" title="Click send and jump to another section"
            (click)="sendResponse(answer.value)">Send</button>
        </div>
        <ng-template #other>
          <button class="msger-send-btn"
            (click)="processTheData()">Submit</button>
        </ng-template>
      </section>

    </form>

  </section>
</ng-container>




<ng-template #messageTemplate let-messageText="messageText" let-msgIndex="index">
  <div class="msg left-msg">


    <div class="msg-bubble">


      <div class="msg-text">
        {{questionsAndUsersResponse[messageText].question}}
      </div>
    </div>
  </div>

  <div class="msg right-msg" *ngIf="questionsAndUsersResponse[messageText].answer">


    <div class="msg-bubble">


      <div class="msg-text">
        <ul >
          <ng-container *ngFor="let eachField of questionsAndUsersResponse[messageText].fields">

            <li><b>{{eachField.name}}</b>: {{eachField.type=='date' ?(eachField.value| date:'longDate' ):eachField.value}}
            </li>
          </ng-container>
        </ul>
        <span>{{questionsAndUsersResponse[messageText].answer}}</span>
        <button *ngIf="questionsAndUsersResponse[messageText].fields" type="button"
          class="self-end px-4 py-2  font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm"
          (click)="continueToAddMore(msgIndex)" title="Add one more response">➕</button>
        <button (click)="editSkippedQuestion(questionsAndUsersResponse[messageText],msgIndex)" type="button"
          class="self-end px-4 py-2  font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm"
          title="Edit the response">🖊 </button>
      </div>
    </div>
  </div>
  <ng-container>

    <div class="msg right-msg" *ngIf="questionsAndUsersResponse[messageText].skipped">


      <div class="msg-bubble">


        <div class="msg-text">
          Skipped!
          <button (click)="editSkippedQuestion(questionsAndUsersResponse[messageText],msgIndex)"
            class="self-end px-4 py-2  font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm"
            title="Edit the response">🖊</button>

        </div>
      </div>
    </div>
  </ng-container>
  <div class="edit-area" *ngIf="editAnswer.edit && messageText ===editAnswer.index">


    <ng-container *ngTemplateOutlet="editTheAnswer;"></ng-container>
  </div>

</ng-template>

<ng-template #editTheAnswer>
  <form *ngIf="editAnswer.edit" class="edit-area">
    <section class="msger-inputarea ">
      <p>Question : {{editAnswer.section}}</p>
      <div class="start-date-container" *ngFor="let eachField of questionsAndUsersResponse[indexToBeShown].fields">
        <label for="ids">{{eachField.name}}</label>
        <input [type]="eachField.type" [name]="eachField.key" [(ngModel)]="eachField.value" [ngModelOptions]="
          {standalone: true}">
      </div>
      <textarea type="text" class="msger-input" #editAnswerText id="input-text"></textarea>
      <div class="flex-buttons">

        <button type="button" class="msger-send-btn" title="Click send and jump to another section"
          (click)="cancelEdit()">Cancel</button>
        <button type="button" *ngIf='!editAnswer.edittheSameAnswer' class="msger-send-btn" title="Click send and jump to another section"
          (click)="sendAdditionalResponse(editAnswerText.value,editAnswer.index+1)">Send</button>
        <button *ngIf='editAnswer.edittheSameAnswer' type="button" class="msger-send-btn" title="Click send and jump to another section"
          (click)="sendEditedResponse(editAnswerText.value,editAnswer.index)">Send</button>
      </div>
    </section>
  </form>
</ng-template>