<p>
  Hi, welcome to Chat Resume! Please enter your answers based on the questions the chat bot asks, At the end will will
  present you with a Resume PDF.
</p>
<ng-container>
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> Chat Resume
      </div>
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </header>

    <main class="msger-chat">

      <div *ngFor="let answerId of answerCount">
        <ng-container *ngTemplateOutlet="messageTemplate; context: { messageText: answerId }"></ng-container>
      </div>

    </main>

    <!-- <p>Skip</p> -->
    <form >
      <section class="msger-inputarea">

        <button *ngIf="questionsAndUsersResponse[countOfanswer].type !='contactInfo'"  class="self-end px-4 py-2  font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm" (click)="skipQuestion()" >Skip</button>
        <div class="start-end-dates">
          <div class="start-date-container" *ngFor="let eachField of questionsAndUsersResponse[countOfanswer].fields">
            <label for="ids">{{eachField.name}}</label>
            <input [type]="eachField.type" [name]="eachField.key" [(ngModel)]="eachField.value" [ngModelOptions]="
              {standalone: true}" >
          </div>

        </div>
        <div class="text-area-submit" *ngIf="questionsAndUsersResponse[countOfanswer].type !='contactInfo';else other" >

          <textarea type="text" class="msger-input" #answer></textarea>
          <button type="button" class="msger-send-btn" *ngIf="questionsAndUsersResponse[countOfanswer].fields"
            title="Continue to add more Experience"
            (click)="continueToAddMore(questionsAndUsersResponse[countOfanswer].fields,answer.value)"> ➕</button>
          <button type="submit" class="msger-send-btn" title="Click send and jump to another section"
            (click)="sendResponse(answer.value)">Send</button>
        </div>
        <ng-template #other>
          <button  class="self-end px-4 py-2  font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm" (click)="processTheData()">Submit</button>
        </ng-template>
      </section>

    </form>
  </section>
</ng-container>




<ng-template #messageTemplate let-messageText="messageText">
  <div class="msg left-msg">


    <div class="msg-bubble">


      <div class="msg-text">
        {{questionsAndUsersResponse[messageText].question}}
      </div>
    </div>
  </div>

  <div class="msg right-msg" *ngIf="questionsAndUsersResponse[messageText].answer">


    <div class="msg-bubble">


      <div class="msg-text">
        {{questionsAndUsersResponse[messageText].answer}}
      </div>
    </div>
  </div>
  <div class="msg right-msg" *ngIf="questionsAndUsersResponse[messageText].skipped">


    <div class="msg-bubble">


      <div class="msg-text">
        Skipped!
      </div>
    </div>
  </div>
</ng-template>